
<!DOCTYPE html>
<html>

    <head>
        <title>Pokevolve</title>
        <link rel="stylesheet" href="static/styles.min.css"/>
    </head>

    <body>
        <div class="h-screen w-screen flex flex-col justify-between items-center relative">
            {{embed}}
            <div class="w-full text-xl text-center pb-2">
                <a href="https://twitter.com/ImKurtwood">Twitter</a>
                <span>-</span>
                <a href="https://github.com/Mattszczp/pokevolve">Github</a>
            </div>
        </div>
    </body>

</html>
