<!DOCTYPE html>
<html>

<head>
  <title>Pokevolve</title>
</head>

<body>
    <ul>
        {{#each Chains}}
        <li>{{#each this.Pokemons}}{{this}}->{{/each}}</li>
        {{/each
        }}
    </ul>
</body>

</html>
