<div class="text-center pt-8 flex flex-col justify-between">
  <span class="text-2xl">Pokémon evolution chains </span>
  {{ if .Error}}
  <span class="text-red-600 text-center font-bold text-sm">{{ .Error }}</span>
  {{ end }}
</div>

<form
  class="p-8 flex flex-row justify-between items-center"
  action="/"
  method="POST"
>
  <input
    class="mx-2 shadow appearance-none border rounded-full w-72 py-2 px-3 text-gray-900 leading-tight focus:outline-none focus:shadow-outline"
    type="text"
    name="pokemon"
    placeholder="Pokemon name or Pokedex ID"
  />
  <button
    class="inline-flex items-center px-3 py-1.5 border border-gray-300 shadow-sm font-medium rounded-full text-gray-700 bg-white hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
  >
    Find
  </button>
</form>

{{ if and .Chains .Pokemon }}
<div>
  <div class="text-2xl text-center pt-8">Evolution chain for {{ .Pokemon}}</div>
  <ul class="p-8 flex flex-col justify-between items-center">
    {{range .Chains}}
    <li class="flex flex-row justify-between items-center">
      {{range $i, $p := .Pokemons}} {{if $i }}->{{end}}
      <span class="text-center"
        ><img
          height="64"
          width="64"
          src="{{$p.SplashUrl}}"
          alt=""
        />{{$p.Name}}</span
      >
      {{end}}
    </li>
    {{end}}
  </ul>
</div>
{{end}}
