<!DOCTYPE html>
<html>

<head>
  <title>Pokevolve</title>
</head>

<body>
  <form action="/evolution" method="POST">
      <input type="text" name="pokemon" placeholder="Pokemon name or Pokedex ID"/>
      <button>Find</button>
  </form>
</body>

</html>
